section.section.awards-section 
  .awards-wrapper
    .awards 
      .awards__content
        h4.awards__title Наша студия в цифрах
        .awards-grid 
          .awards-grid__item
            .awards-grid__value 02
            .awards-grid__desc Награды
          .awards-grid__item
            .awards-grid__value 16
            .awards-grid__desc Человек в команде
          .awards-grid__item
            .awards-grid__value 15
            .awards-grid__desc Лет в бизнесе
          .awards-grid__item
            .awards-grid__value 85
            .awards-grid__desc Сайтов запущено
      .awards__image 
        img.awards__image-src(src="/src/assets/images/numbers.jpg" alt="")