section.section.full-width-block
  .black-bg-block.block
    .container.black-bg-block-inner
      h3.block__title Что вы получите?
      p.block__content Решение проблемы клиентов с помощью броской графики, цепляющих формулировок и продуманных пользовательских сценариев






