section.container.container--lines.hero 
  .hero__content.hero-content
    .hero-content-inner.hero-content-inner--no-padding
      img.hero-content__image-full.js-scale-image(src="/src/assets/images/case-main.jpg" alt="")
section.container.container--lines
  .case-text-enter
    p Фирменный стиль разработан в равной степени для родителей и детей, поэтому и тем, и другим будет комфортно с ним взаимодействовать.
    p На создание логотипа вдохновила сказочная атмосфера таких классических диснеевских картин, как "Красавица и чудовище", "Аладдин" и другие. 
  .case-gallery 
    img(src="/src/assets/images/g-1.jpg" alt="")
    img(src="/src/assets/images/g-2.jpg" alt="")
    img(src="/src/assets/images/g-3.jpg" alt="")
    img(src="/src/assets/images/g-4.jpg" alt="")
  .case-about 
    h6.case-about__title О проекте
    .case-about__desc.case-text
      p Фирменный стиль разработан в равной степени для родителей и детей, поэтому и тем, и другим будет комфортно с ним взаимодействовать.
      p На создание логотипа вдохновила сказочная атмосфера таких классических диснеевских картин, как "Красавица и чудовище", "Аладдин" и другие. 
  .case-gallery
    img(src="/src/assets/images/g-5.jpg" alt="")
    img(src="/src/assets/images/g-6.jpg" alt="")
    img(src="/src/assets/images/g-7.jpg" alt="")

  .case-about 
    h6.case-about__title О проекте
    .case-about__desc.case-text
      p Фирменный стиль разработан в равной степени для родителей и детей, поэтому и тем, и другим будет комфортно с ним взаимодействовать.
      p На создание логотипа вдохновила сказочная атмосфера таких классических диснеевских картин, как "Красавица и чудовище", "Аладдин" и другие. 
  .case-gallery
    img(src="/src/assets/images/g-9.jpg" alt="")
    img(src="/src/assets/images/g-10.jpg" alt="")
    img(src="/src/assets/images/g-11.jpg" alt="")
    img(src="/src/assets/images/g-12.jpg" alt="")
    img(src="/src/assets/images/g-13.jpg" alt="")
section.section.container.container--lines 
  h2.section-title.title Другие кейсы
  .case-more.portfolio-grid
    a.portfolio-grid__item(href="/EW-frontend/case.html")
      .portfolio-grid__image.case-more__image 
        img.portfolio-grid__src(src="/src/assets/images/case-i.jpg" alt="")
      .portfolio-grid__info 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
      h3.portfolio-grid__title.title Printegy GmbH
    a.portfolio-grid__item(href="/EW-frontend/case.html")
      .portfolio-grid__image.case-more__image 
        img.portfolio-grid__src(src="/src/assets/images/case-i.jpg" alt="")
      .portfolio-grid__info 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
      h3.portfolio-grid__title.title Printegy GmbH