section.section.container.container--lines 
  .case-info 
    .case-info__col
      h6.case-info__heading Услуга
      h4.case-info__item Дизайн-поддержка
      h4.case-info__item Разработка лендинга
    .case-info__col
      h6.case-info__heading Проект
      h4.case-info__item A feel-good oasis for young and old in the heart of Berlin
