section.section.container.container--lines 
  h2.section-title.title Давайте сравним
  .compare-wrapper
    .compare 
      .compare__head.compare-head 
        .compare__row
          .compare__cell Пункты
          .compare__cell 
            img.compare__cell-image(src="/src/assets/images/logo.svg" alt="")
            .compare__versus vs
          .compare__cell Штатный дизайнер
      .compare__body
        .compare__row
          .compare__cell
            .compare__cell-content 
              .compare__cell-heading Менеджеры
              .compare__toolbox.js-toolbox
                .compare__toolbox-icon
                  +sprite('toolbox' , '16' , '16')
                .compare__tollbox-content.js-toolbox-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus accusantium odio tenetur?
          .compare__cell 
            .compare__cell-content.compare__cell-content--main 
              img.compare__cell-icon(src="/src/assets/images/check-green.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
          .compare__cell 
            .compare__cell-content.compare__cell-content--main
              img.compare__cell-icon(src="/src/assets/images/cross-gray.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
        .compare__row
          .compare__cell
            .compare__cell-content 
              .compare__cell-heading Налоги и льготы
              .compare__toolbox.js-toolbox
                .compare__toolbox-icon
                  +sprite('toolbox' , '16' , '16')
                .compare__tollbox-content.js-toolbox-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus accusantium odio tenetur?
          .compare__cell 
            .compare__cell-content.compare__cell-content--main 
              img.compare__cell-icon(src="/src/assets/images/check-green.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
          .compare__cell 
            .compare__cell-content.compare__cell-content--main
              img.compare__cell-icon(src="/src/assets/images/cross-gray.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
        .compare__row
          .compare__cell
            .compare__cell-content 
              .compare__cell-heading Менеджеры
              .compare__toolbox.js-toolbox
                .compare__toolbox-icon
                  +sprite('toolbox' , '16' , '16')
                .compare__tollbox-content.js-toolbox-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus accusantium odio tenetur?
          .compare__cell 
            .compare__cell-content.compare__cell-content--main 
              img.compare__cell-icon(src="/src/assets/images/check-green.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
          .compare__cell 
            .compare__cell-content.compare__cell-content--main
              img.compare__cell-icon(src="/src/assets/images/cross-gray.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
        .compare__row
          .compare__cell
            .compare__cell-content 
              .compare__cell-heading Менеджеры
              .compare__toolbox.js-toolbox
                .compare__toolbox-icon
                  +sprite('toolbox' , '16' , '16')
                .compare__tollbox-content.js-toolbox-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus accusantium odio tenetur?
          .compare__cell 
            .compare__cell-content.compare__cell-content--main 
              img.compare__cell-icon(src="/src/assets/images/check-green.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой
          .compare__cell 
            .compare__cell-content.compare__cell-content--main
              img.compare__cell-icon(src="/src/assets/images/cross-gray.svg" alt="")
              .compare__cell-text Надзор за сроками, статусами и поддержкой




