section.section.section--80.container.container--lines
  .contacts 
    .contacts__col 
      .contacts__heading Контакты
      .contacts-list 
        .contacts__item 
          a.contacts__link.link-underline(href="mailto:moin@einzelwerk.pro") moin@einzelwerk.pro
        .contacts__item 
          a.contacts__link.link-underline(href="tel:+79996047984") +7 999 604-79-84
    .contacts__col 
      .contacts__heading Инициативным
      .contacts-list 
        .contacts__item 
          a.contacts__link.link-underline(href="mailto:moin@einzelwerk.pro") Связаться в Telegram
        .contacts__item 
          a.contacts__link.link-underline(href="tel:+79996047984") Заполнить бриф
    .contacts__col 
      .contacts__heading По работе
      .contacts-list 
        .contacts__item 
          a.contacts__link.link-underline(href="mailto:moin@einzelwerk.pro") hr@einzelwerk.pro
    .contacts__col 
      .contacts__heading Соц. сети
      .contacts-list.contacts-list--row 
        .contacts__item 
          a.contacts__link.link-underline(href="mailto:moin@einzelwerk.pro") Behance
        .contacts__item 
          a.contacts__link.link-underline(href="tel:+79996047984") Instagram
        .contacts__item 
          a.contacts__link.link-underline(href="tel:+79996047984") LinkedIn


