section.section.container.container--lines 
  h2.section-title.title Наши услуги по SEO-продвижению сайтов
  .features-gray 
    .features-gray__item 
      .features-gray__icon(style='--features-icon-background: var(--green)')
        img.features-gray__icon-src(src="/src/assets/images/f-i.svg" alt="")
      h3.features-gray__title Услуга номер один
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
    .features-gray__item 
      .features-gray__icon(style='--features-icon-background: var(--green)')
        img.features-gray__icon-src(src="/src/assets/images/f-i.svg" alt="")
      h3.features-gray__title Услуга номер один
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
    .features-gray__item 
      .features-gray__icon(style='--features-icon-background: var(--green)')
        img.features-gray__icon-src(src="/src/assets/images/f-i.svg" alt="")
      h3.features-gray__title Услуга номер один
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
