section.container.container--lines.section
  h2.section-title.title.features-title Рассказываем, чем мы лучше конкурентов
  .features 
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Запускаем проекты за 2-3 дня
      .features__desc Если немецкий Mercedes разгоняется до «сотки» за пару секунд, то запустить проект за пару дней для немецкого агентства — точно не проблема.
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Выполняем обязательства
      .features__desc Держим баланс между немецкими стандартами и русской смекалкой — без творческих кризисов накануне дедлайна.
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Действуем предсказуемо
      .features__desc Кто-то скажет, «в вас пропал дух авантюризма». Мы скажем, сколько времени и денег реально нужно на запуск, разделим задачу на спринты и будем планомерно идти к результату. 
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Играем «в открытую»
      .features__desc Мы не играем в «испорченный телефон», а вы напрямую общаетесь с любым специалистом на проекте (если этого хотите). 
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Умеем встраиваться в команду
      .features__desc Мы умеем говорить на разных языках — поэтому без труда заговорим и на вашем, чтобы синхронизировать процессы и задачи на 100%.
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Держим высокую планку
      .features__desc Наша команда собрана с немецкой педантичностью: здесь топовые специалисты со всего мира, готовые внедрять свой опыт вам. 
