section.section.container 
  .grid-image 
    .grid-image__item 
      img.grid-image__item-src.js-scale-image(src="/src/assets/images/t1.jpg" alt="")
    .grid-image__item 
      img.grid-image__item-src.js-scale-image(src="/src/assets/images/t2.jpg" alt="")