.modal-wrapper 
  .modal 
    h4.modal__title Обсудим проект?
    button.modal__close Закрыть
    form.modal__form.form(action="/")
      label.form__label
        input.form__input(type="text" placeholder="Ваше имя*")
      label.form__label
        input.form__input(type="text" placeholder="Телефон/мессенджер*")
      label.form__label
        input.form__input(type="text" placeholder="Компания/проект*")
      label.form__label
        input.form__input(type="text" placeholder="Бюджет проекта*")
      label.form__label
        input.form__input(type="text" placeholder="Расскажите о проекте*")
      label.form__label.form__label--full
        input.form__input.form__input--checkbox(type="checkbox" checked)
        .form__checkbox-wrapper
          .form__fake-checkbox 
          span.form__checkbox-text Я согласен с условиями 
            a.form__checkbox-link(href="/EW-frontend/policy.html") обработки персональных данных 
      button.form__submit.btn.btn--large.btn--primary
        span  Отправить
