section.container.container--lines.hero-section.hero.case-hero 
  h1.hero__title.title Команда Einzelwerk
  p.hero__desc Ясно формулируем для себя, что наш главный ресурс и преимущество – сработанная команда. 
  .hero__content.hero-content.hero__content--team
    .hero-content-inner.hero-content-inner--no-padding.hero-content-inner--ratio
      img.hero-content__image-full.js-scale-image(src="/src/assets/images/team.jpg" alt="")




