-var items = [['Printegy GmbH', 'Kids Fun Palace' , 'Duesseldorf Business School' , 'Space Plus GmbH' , 'Duesseldorf Business School' , 'Space Plus GmbH'], ['/src/assets/images/case-1.jpg' , '/src/assets/images/case-2.jpg'] , '/src/assets/video/case.mp4']

section.container.container--lines.section
  h2.section-title.title Работы, которыми мы гордимся
  .home-portfolio.portfolio-grid
    .portfolio-grid__item
      a.portfolio-grid__image(href="#")
        .portfolio-grid__overlay.portfolio-overlay 
          .portfolio-overlay__btn
            .portfolio-overlay__link.inner-text Смотреть 
        video.portfolio-grid__src(src="/src/assets/video/case.mp4" autoplay loop muted alt="")
      a.portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item
      a.portfolio-grid__image(href="#")
        .portfolio-grid__overlay.portfolio-overlay 
          .portfolio-overlay__btn
            .portfolio-overlay__link.inner-text Смотреть 
        img.portfolio-grid__src(src="/src/assets/images/case-1.jpg" autoplay loop muted alt="")
      a.portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item
      a.portfolio-grid__image(href="#")
        .portfolio-grid__overlay.portfolio-overlay 
          .portfolio-overlay__btn
            .portfolio-overlay__link.inner-text Смотреть 
        video.portfolio-grid__src(src="/src/assets/video/case.mp4" autoplay loop muted alt="")
      a.portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item
      a.portfolio-grid__image(href="#")
        .portfolio-grid__overlay.portfolio-overlay 
          .portfolio-overlay__btn
            .portfolio-overlay__link.inner-text Смотреть 
        img.portfolio-grid__src(src="/src/assets/images/case-1.jpg" autoplay loop muted alt="")
      a.portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item
      a.portfolio-grid__image(href="#")
        .portfolio-grid__overlay.portfolio-overlay 
          .portfolio-overlay__btn
            .portfolio-overlay__link.inner-text Смотреть 
        video.portfolio-grid__src(src="/src/assets/video/case.mp4" autoplay loop muted alt="")
      a.portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item
      a.portfolio-grid__image(href="#")
        .portfolio-grid__overlay.portfolio-overlay 
          .portfolio-overlay__btn
            .portfolio-overlay__link.inner-text Смотреть 
        img.portfolio-grid__src(src="/src/assets/images/case-1.jpg" autoplay loop muted alt="")
      a.portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item.portfolio-grid__item--coming-soon
      a.portfolio-grid__image(href="#")
        .coming-soon
          .coming-soon__btn Скоро
        video.portfolio-grid__src(src="/src/assets/video/case.mp4" autoplay loop muted alt="")
      .portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
    .portfolio-grid__item.portfolio-grid__item--coming-soon
      a.portfolio-grid__image(href="#")
        .coming-soon
          .coming-soon__btn Скоро
        img.portfolio-grid__src(src="/src/assets/images/case-1.jpg" autoplay loop muted alt="")
      .portfolio-grid__info(href="") 
        .portfolio-grid__category
          span.portfolio-grid__category-item UX/UI Дизайн, 
          span.portfolio-grid__category-item Фронтенд, 
          span.portfolio-grid__category-item SEO, 
          span.portfolio-grid__category-item SMM  
        h3.portfolio-grid__title.title Printegy Gmb
  .more-link-wrapper 
    a.more-link.inner-text(href="/EW-frontend/cases.html") Смотреть все кейсы

