section.container.container--lines.section
  h2.section-title.title.reviews-title Отзывы
  .reviews.swiper.js-reviews-slider 
    .swiper-wrapper 
      .reviews__item.swiper-slide 
        p.reviews__content Команда, с которой реально приятно работать, которую не нужно «заводить с пинка» или вызванивать после предоплаты, как это бывает с агентствами.
        .reviews__author.author 
          .author__photo 
            img.athor__photo-src(src="/src/assets/images/reviews.jpg" width="64" height="64" alt="")
          .author__info 
            h6.author__name Снежана У.
            .author__position Фаундер, Kids Fun Palace
      .reviews__item.swiper-slide 
        p.reviews__content Я доволен дизайном, а тем более аналитикой. Конверсия лендинга после обновления выросла на 34%: видно, что разобрались в том, кто наш клиент и как привлечь его внимание.
        .reviews__author.author 
          .author__photo 
            img.athor__photo-src(src="/src/assets/images/reviews.jpg" width="64" height="64" alt="")
          .author__info 
            h6.author__name Снежана У.
            .author__position Фаундер, Kids Fun Palace
      .reviews__item.swiper-slide 
        p.reviews__content Команда, с которой реально приятно работать, которую не нужно «заводить с пинка» или вызванивать после предоплаты, как это бывает с агентствами.
        .reviews__author.author 
          .author__photo 
            img.athor__photo-src(src="/src/assets/images/reviews.jpg" width="64" height="64" alt="")
          .author__info 
            h6.author__name Снежана У.
            .author__position Фаундер, Kids Fun Palace
      .reviews__item.swiper-slide 
        p.reviews__content Команда, с которой реально приятно работать, которую не нужно «заводить с пинка» или вызванивать после предоплаты, как это бывает с агентствами.
        .reviews__author.author 
          .author__photo 
            img.athor__photo-src(src="/src/assets/images/reviews.jpg" width="64" height="64" alt="")
          .author__info 
            h6.author__name Снежана У.
            .author__position Фаундер, Kids Fun Palace