section.container.container--lines.section.services-more-section
  h2.section-title.title.services-more-section__title А еще мы делаем
  .services-more.js-services-more-slider.swiper 
    .swiper-wrapper 
      a.services-more__item.swiper-slide(href="" style="--case-background: var(--green")
        .services-more__image 
          .services-more__icon(style="--icon-background:var(--white)") 
            img.services-more__src(src="/src/assets/images/case.svg" role="presentation")
        .services-more__info
          h4.services-more__title.title Корпоративный сайт
          p.services-more__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям
      a.services-more__item.swiper-slide(href="" style="--case-background: var(--green")
        .services-more__image 
          .services-more__icon(style="--icon-background:red") 
            img.services-more__src(src="/src/assets/images/case.svg" role="presentation")
        .services-more__info
          h4.services-more__title.title Лендинги
          p.services-more__desc Одностраничные сайты, которые позволяют быстро и эффективно запустить в продажу товар или услугу
      a.services-more__item.swiper-slide(href="" style="--case-background: var(--green")
        .services-more__image 
          .services-more__icon(style="--icon-background:var(--green)") 
            img.services-more__src(src="/src/assets/images/case.svg" role="presentation")
        .services-more__info
          h4.services-more__title.title Дизайн-поддержка
          p.services-more__desc Свежий взгляд на ваш бренд, который позволит улучшить отдельные элементы дизайна и сделать его узнаваемым





