section.container.container--lines.hero-section.hero.services-hero 
  h1.hero__title.title Дизайн поддержка
  .services-offer.before-stack
    h4.services-offer__title Преимущество
    .services-offer__desc Опытные дизайнеры под началом арт-директора — всегда на связи и готовы помочь с задачей любой сложности.
  .stack-wrapper
    .js-stack-container.hero-stack-container
      .hero__content.hero-content.hero__content--fixed-height.hero-content--no-margin(style="--background-color:  #4655D8;")
        .hero-content-inner.hero-content-inner--text-content
          h2.hero-content__title Лендинги
          .hero-content__image 
            picture
              source(media="(max-width: 768px)" srcset="/src/assets/images/land-m.png")
              img.hero-content__image-src(src="/src/assets/images/landings2.png" alt="")
          .hero-content__desc 
            p.hero-content__desc-item Мы создаём посадочные страницы, на которых у ваших потенциальных клиентов есть только один путь — оставить заявку.
            p.hero-content__desc-item Лендинг позволит презентовать ваш товар или услугу как можно скорее, не теряя времени (и бюджета) на долгие этапы разработки. 
    .js-stack-container.hero-stack-container
      .hero__content.hero-content.hero__content--fixed-height.hero-content--no-margin(style="--background-color:  var(--black)")
        .hero-content-inner.hero-content-inner--text-content
          h2.hero-content__title Развитие сайтов
          .hero-content__image 
            picture
              source(media="(max-width: 768px)" srcset="/src/assets/images/raz-m.png")
              img.hero-content__image-src(src="/src/assets/images/raz.png" alt="")
          .hero-content__desc 
            p.hero-content__desc-item Вместо разовых решений, мы предлагаем целые дизайн-системы, которые сделают ваш бизнес узнаваемым.
            p.hero-content__desc-item Вместе с этим, продумываем путь потребителя на два шага вперёд: улучшаем UX и дополняем сайты, увеличивая конверсию потенциальных клиентов в реальных. 
    .js-stack-container.hero-stack-container
      .hero__content.hero-content.hero__content--fixed-height.hero-content--no-margin.hero-content--dark-text(style="--background-color:  var(--green)")
        .hero-content-inner.hero-content-inner--text-content
          h2.hero-content__title Коммуникации
          .hero-content__image 
            picture
              source(media="(max-width: 768px)" srcset="/src/assets/images/com-m.png")
              img.hero-content__image-src(src="/src/assets/images/com.png" alt="")
          .hero-content__desc 
            p.hero-content__desc-item Баннеры, реклама, посты в соцсетях: наша команда реализует всё, благодаря чему компании поддерживают связь со своей аудиторией.
            p.hero-content__desc-item Прежде, чем принять решение о покупке, клиенту в среднем нужно 7 касаний с брендом — и мы готовы провести их за руку по этому пути.

