section.container.container--lines.section
  .services-features
    h2.services-features__title.title Чем хорош лендинг
    .services-features__list 
      .services-features__item
        h4.services-features__heading Увеличение узнаваемости бренда
        p.services-features__desc Красивая, профессиональная посадочная страница — это лицо компании. Она не только повышает конверсию, но и помогает познакомить с брендом большее количество людей. Чем чаще пользователи видят лендинг с вашим логотипом, тем больше узнаваемость компании.
      .services-features__item
        h4.services-features__heading Увеличение конверсии
        p.services-features__desc Лендинговые страницы фокусируются на одной конкретной цели и подталкивают пользователей к действию. Посетители лендинга двигаются дальше по воронке продаж и превращаются из анонимных пользователей в лиды, а потом и в активных клиентов.
      .services-features__item
        h4.services-features__heading Лендинг можно измерить
        p.services-features__desc Анализируйте конверсию, просмотры страницы и трафик. Так вы поймете какая маркетинговая кампания работает эффективнее всего. Посмотрите, что работает лучше. Например, платное продвижение постов или email-рассылка. Оптимизируйте стратегию соответственно с полученными данными






