section.section.container.container--lines
  .quote 
    .quote__image 
      img.quote__image-src(src="/src/assets/images/andrei.jpg" alt="")
    .quote__content
      .quote__icon 
        +sprite('quote' , '32' , '20')
      .quote__text А еще мы создаём здоровую рабочую среду и не перекладываем лишнюю ответственность на дизайнеров. За бизнес-процессы, стратегию и поиск возможностей для развития отвечаю я. И вообще, просто давайте деньги
      .team-member__info.quote__member 
        h6.team-member__name Андрей Братухин
        .team-member__position СЕО студии Einzelwerk
