section.section.container.container--lines
  h2.section-title.section-title--counter Команда
    span.section-title__count 12
  .team-list 
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО
    .team-list__item
      .team-list__image 
        img.team-list__image-src(src="/src/assets/images/team-item.jpg" alt="")
      .team-list__member.team-member
        h6.team-member__name Андрей Б 
        .team-member__position Фаундер, СЕО