section.section.container.container--lines 
  h2.section-title.title.timeline-title Рассказываем как это было
  .timeline.swiper.js-timeline-slider 
    .swiper-wrapper 
      .swiper-slide.timeline__item
        .timeline__title Становление
        .timeline__info
          .timeline__year 2020
          .timeline__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
      .timeline__item.swiper-slide 
        .timeline__title Становление
        .timeline__info
          .timeline__year 2020
          .timeline__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
      .timeline__item.swiper-slide 
        .timeline__title Становление
        .timeline__info
          .timeline__year 2020
          .timeline__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
      .timeline__item.swiper-slide 
        .timeline__title Становление
        .timeline__info
          .timeline__year 2020
          .timeline__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
    