section.container.container--lines.section
  h2.section-title.title.work-progress-title Процесс работы
  .work 
    .work__item 
      .work__heading.js-open-spoiler
        h4.work__title Бриф
        .work__info 
          .work__deadline 2 дня
          .work__price Бесплатно
      .work__content 
        p.work__content-inner В брифе на дизайн сайта вы рассказываете о своей компании, описываете своими словами предпочтения к будущему дизайну сайта. Рассказываете, почему вам нужен новый дизайн, какие проблемы он должен решить.
    .work__item 
      .work__heading.js-open-spoiler
        h4.work__title Бриф
        .work__info 
          .work__deadline 2 дня
          .work__price Бесплатно
      .work__content 
        p.work__content-inner В брифе на дизайн сайта вы рассказываете о своей компании, описываете своими словами предпочтения к будущему дизайну сайта. Рассказываете, почему вам нужен новый дизайн, какие проблемы он должен решить.
    .work__item 
      .work__heading.js-open-spoiler
        h4.work__title Бриф
        .work__info 
          .work__deadline 2 дня
          .work__price Бесплатно
      .work__content 
        p.work__content-inner В брифе на дизайн сайта вы рассказываете о своей компании, описываете своими словами предпочтения к будущему дизайну сайта. Рассказываете, почему вам нужен новый дизайн, какие проблемы он должен решить.
    .work__item 
      .work__heading.js-open-spoiler
        h4.work__title Бриф
        .work__info 
          .work__deadline 2 дня
          .work__price Бесплатно
      .work__content 
        p.work__content-inner В брифе на дизайн сайта вы рассказываете о своей компании, описываете своими словами предпочтения к будущему дизайну сайта. Рассказываете, почему вам нужен новый дизайн, какие проблемы он должен решить.
    .work__item 
      .work__heading.js-open-spoiler
        h4.work__title Бриф
        .work__info 
          .work__deadline 2 дня
          .work__price Бесплатно
      .work__content 
        p.work__content-inner В брифе на дизайн сайта вы рассказываете о своей компании, описываете своими словами предпочтения к будущему дизайну сайта. Рассказываете, почему вам нужен новый дизайн, какие проблемы он должен решить.
    .work__item 
      .work__heading.js-open-spoiler
        h4.work__title Бриф
        .work__info 
          .work__deadline 2 дня
          .work__price Бесплатно
      .work__content 
        p.work__content-inner В брифе на дизайн сайта вы рассказываете о своей компании, описываете своими словами предпочтения к будущему дизайну сайта. Рассказываете, почему вам нужен новый дизайн, какие проблемы он должен решить.






