footer.footer 
  .footer-top.container 
    .footer__logo.logo 
      a.logo__link(href="/")
        img.logo__src(src="/src/assets/images/logo.svg" alt="") 
    .footer__navs 
      .footer__nav 
        h6.footer__nav-heading Услуги
        ul.footer__nav-list.nav 
          li.nav-list__item 
            a.nav-list__link(href="#") Лендинги
          li.nav-list__item 
            a.nav-list__link(href="#") Корпоративные сайты
          li.nav-list__item 
            a.nav-list__link(href="#") Сайты-визитки
          li.nav-list__item 
            a.nav-list__link(href="#") Продвижение
          li.nav-list__item 
            a.nav-list__link(href="#") Дизайн-поддержка
      .footer__nav 
        h6.footer__nav-heading Меню
        ul.footer__nav-list.nav 
          li.nav-list__item 
            a.nav-list__link(href="/EW-frontend/404.html") 404
          li.nav-list__item 
            a.nav-list__link(href="/EW-frontend/thank-you.html") Спасибо за заявку
          li.nav-list__item 
            a.nav-list__link(href="#") Контакты
      .footer__nav 
        h6.footer__nav-heading Соцсети
        ul.footer__nav-list.nav 
          li.nav-list__item 
            a.nav-list__link(href="#") Behance
          li.nav-list__item 
            a.nav-list__link(href="#") Instagram
          li.nav-list__item 
            a.nav-list__link(href="#") LinkedIn
      .footer__nav 
        h6.footer__nav-heading Контакты
        ul.footer__nav-list.nav 
          li.nav-list__item 
            a.nav-list__link(href="#") +7 911 989-24-42
          li.nav-list__item 
            a.nav-list__link(href="#") mail@einzelwerk.ru
          li.nav-list__item 
            a.nav-list__link(href="#") Написать в телеграм
          li.nav-list__item 
            a.nav-list__link(href="#") Отправить резюме
  .footer-bottom.container 
    span.footer__copyright  Все права защищены © Einzelwerk
    a.footer__policy(href="") Политика конфиденциальности

