include ../inc/mixins/svg-sprite
include ../inc/mixins/include

include ../inc/layout/preloader.pug
include ../inc/layout/header.pug
#smooth-wrapper 
  #smooth-content
    main.main
      section.section.section--100.container.container--lines
        .error-404
          .error-404__image 
            img.error-404__image-src(src="/src/assets/images/404.png" alt="")
          .error-404__text Вы забрели не туда, давайте разберемся!
          .error-404__btn-wrapper.btn-row 
            .error-404__btn.btn.btn--primary.btn-row__item
              a.btn__link(href="/") На главную
            .error-404__btn.btn.btn--secondary.btn-row__item
              a.btn__link(href="https://google.com" target="_blank") Стукнуть в ТГ
    include ../inc/layout/footer.pug
include ../inc/blocks/modal.pug
