include ../inc/mixins/svg-sprite
include ../inc/mixins/include

include ../inc/layout/preloader.pug
include ../inc/layout/header.pug
#smooth-wrapper 
  #smooth-content
    main.main
      include ../inc/blocks/home-hero.pug
      include ../inc/blocks/portfolio.pug
      include ../inc/blocks/features.pug
      include ../inc/blocks/reviews.pug
      include ../inc/blocks/cta.pug
    include ../inc/layout/footer.pug
include ../inc/blocks/modal.pug
