include ../inc/mixins/svg-sprite
include ../inc/mixins/include

include ../inc/layout/preloader.pug
include ../inc/layout/header.pug
#smooth-wrapper 
  #smooth-content
    main.main
      include ../inc/blocks/page-hero.pug
      include ../inc/blocks/team-timeline.pug
      include ../inc/blocks/grid-image.pug
      include ../inc/blocks/team-quote.pug
      include ../inc/blocks/grid-image.pug
      include ../inc/blocks/team-list.pug
      include ../inc/blocks/cta.pug
    include ../inc/layout/footer.pug
include ../inc/blocks/modal.pug
