@use "../utils/mixins" as *;

.awards {
  display: flex;
  justify-content: space-between;
  background: var(--black);
  color: var(--white);
  @include media(md) {
    flex-direction: column;
  }
  &__content {
    padding-left: calc((100% - var(--container)) / 2 + var(--gap));
    padding-top: 120px;
    padding-bottom: 94px;
    padding-right: var(--gap);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
    @include media(full) {
      padding-left: var(--gap);
    }
    @include media(full, min-width) {
      max-width: initial;
    }
    @include media(md) {
      padding-top: 60px;
    }
  }
  &__image {
    max-width: 1100px;
    width: 100%;
    @include media(md) {
      padding:0 var(--gap) 60px;
    }
  }
  &__image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-family: var(--font);
    font-size: 40px;
    line-height: 130%;
    @include media(md) {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
}

.awards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px 100px;
  @include media(md) {
    gap: 32px;
  }
  &__value {
    font-family: var(--font);
    font-size: 40px;
    margin: 0 0 12px 0;
  }
  &__desc {
    line-height: 156%;
    font-size: 18px;
  }
}
