@use "../utils/mixins" as *;

.black-bg-block {
  background: var(--black);
  padding: 120px 0;
  @include media(md) {
    padding: 60px 0;
  }
}

.full-width-block {
  + .section {
    --gap-y: 120px;
    @include media(md) {
      --gap-y: 60px;
    }
  }
}

.black-bg-block-inner {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  color: var(--white);
  @include media(xl) {
    flex-direction: column;
  }
}

.block {
  &__title {
    font-size: 24px;
    font-family: var(--font);
    line-height: 133%;
    color: var(--green);
    max-width: 340px;
    width: 100%;
    flex: 1;
    @include media(xl) {
      max-width: initial;
      margin-bottom: 32px;
    }
    @include media(md) {
      font-size: 16px;
    }
  }
  &__content {
    font-family: var(--font);
    font-size: 40px;
    line-height: 130%;
    max-width: 900px;
    @include media(md) {
      font-size: 20px;
    }
  }
}
