@use "../utils/mixins" as *;

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 40px;
  @include media(md) {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.cta-title {
  margin: 0 0 72px 0;
  @include media(md) {
    margin: 0 0 48px 0;
  }
}

.cta-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 72px;
  @include media(md) {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .cta-title {
    margin: 0;
    @include media(md) {
      margin:0 0 32px 0;
    }
  }
}
.cta-manager {
  max-width: 364px;
  display: flex;
  @include media(md) {
    max-width: 100%;
  }
  &__image {
    width: 100px;
    height: 100px;
    flex: 1 0 auto;
    margin: 0 32px 0 0;
    @include media(md) {
      width: 84px;
      height: 84px;
      margin: 0 20px 0 0;
    }
  }
  &__image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    font-size: 14px;
    font-family: var(--font);
    margin-bottom: 8px;
    @include media(md) {
      margin-bottom: 4px;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--gray500);
  }
}
