@use "../utils/mixins" as *;

.mobile-btn-wrapper {
  width: 22px;
  height: 14px;
  position: relative;
  display: none;
  &.opened {
    .mobile-btn {
      height: 0;
      &:before {
        background: var(--white);
        transform: rotate(45deg) translateY(-50%);
        top: 50%;
      }
      &:after {
        background: var(--white);
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
      }
    }
  }

  @include media(md) {
    display: block;
  }
}
.mobile-btn {
  width: 100%;
  height: 2px;
  background: currentColor;

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    background: var(--black);
    transform-origin: top center;
    transition: transform 0.2s;
  }
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: var(--black);
    transform-origin: top center;
    transition: transform 0.2s;
  }
}
