@use "../utils/mixins" as *;

.team-member {
  &__name {
    font-size: 20px;
    font-family: var(--font);
    margin: 0 0 8px 0;
    @include media(md) {
      font-size: 12px;
    }
  }
  &__position {
    font-size: 16px;
    color: var(--gray500);
    font-weight: 500;
    @include media(md) {
      font-size: 12px;
    }
  }
}
